In [9]:
a = [-1,1,66,25,333,333,1234.5]
del a[0] # del은 pop과 동일한 기능을 하지만 지운 값을 return 해주지 않음
a

[1, 66, 25, 333, 333, 1234.5]

In [10]:
del a[2:4]
a

[1, 66, 333, 1234.5]

In [11]:
del a[:]
a

[]

In [ ]:
t = 12345,54321,'hello!' 
# 튜플:일대다의 집합데이터를 할당하기 위한 자연어 , 튜플의 소괄호는 생략 가능
# a,b = 1,2 이거랑 다른 거
# 12345,54321, hello!' = t 이경우도 가능, 이해의 범주가 아닌, 문법이라고 생각
# 값 수정이 불가
t[0] #튜플도 인덱싱이 가능함

12345

In [13]:
u = t,(1,2,3,4,5) # ,는 다른 차원으로 튜플을 묶음
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [14]:
u = t + (1,2,3,4,5) # +는 같은 차원으로 튜플을 묶음
u

(12345, 54321, 'hello!', 1, 2, 3, 4, 5)

In [15]:
# t[0]=88888 # 튜플은 문자형 자료이기에 immutable(변경 불가)임

In [16]:
v = ([1,2,3],[3,2,1])
v

([1, 2, 3], [3, 2, 1])

In [17]:
empty = ()
singleton = 'hello', 
len(empty)

0

In [18]:
len(singleton)  # 리스트와 다르게 문자열 단위로 하나의 value로 인식

1

In [19]:
singleton

('hello',)

In [20]:
# 집합(=set())
# set의 함수성질과 동일하게 집합은 중복되는 요소도 없고, 순서도 없음
# 집합은 mutable 성질을 가지며, immutable인 frozenset도 있음
# set은 굳이 많이 사용하지 않는데 데이터가 중복될 때만 사용, 보통 list, dict를 이용
# 집합을 생성할 때 중괄호와 set함수를 사용
# 빈 집합을 만드려면 set()을 사용 , 중괄호로 생성불가
# dict와 다르게 key : value 로 나눠지지 않음

In [21]:
basket = {'apple','orange','apple','pear','orange','banana'}
basket
# 집합 basekt은 중복을 제거해주며 list와 다르게 순서가 없기에 무작위 순서를 배출
# 알파벳, 숫자의 기본적 순서만 지킴 => a.., b.., c..

{'apple', 'banana', 'orange', 'pear'}

In [22]:
'orange' in basket

True

In [23]:
'hobby' in basket

False

In [24]:
a = set('abracadabra')
b = set('alacazam')
a

{'a', 'b', 'c', 'd', 'r'}

In [25]:
a.add('hobby')
a

{'a', 'b', 'c', 'd', 'hobby', 'r'}

In [26]:
a-b #차집합

{'b', 'd', 'hobby', 'r'}

In [27]:
a|b # 합집합

{'a', 'b', 'c', 'd', 'hobby', 'l', 'm', 'r', 'z'}

In [28]:
a&b #교집합

{'a', 'c'}

In [29]:
a^b #xor, 합집합 -  교집합

{'b', 'd', 'hobby', 'l', 'm', 'r', 'z'}

In [30]:
# set 도 comprehension이 가능
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [31]:
for x in 'abracadabra':
    if x not in 'abc':
        x
a

{'d', 'r'}

In [32]:
# dictionary
# 키는 hasahble(=immutable, 고유한 값), 중복x
# 딕셔너리 구조는 인덱스가 없음, key값을 통해 value를 반환
# 키는 있어야 하지만 값이 없을 수 있음 = > none
# 튜플도 키로 사용할 수 있다. 대신 튜플이 문자열, 숫자, 튜플만 포함해야 함
# 가변 객체를 포함하면 키로 사용될 수 없다

In [33]:
tel = {'jack': 4098, 'sape':4139}
tel['guido'] = 4127 # 딕셔너리 안에 키와 value 값 추가
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [34]:
tel['jack']

4098

In [35]:
list(tel)

['jack', 'sape', 'guido']

In [36]:
sorted(tel)

['guido', 'jack', 'sape']

In [37]:
'guido' in tel

True

In [38]:
'jack' not in tel

False

In [39]:
#이런식으로도 딕셔너리를 만들 수 있다.
dict([('sape',4139),('guido',4127),('jack',4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [40]:
{x:x**2 for x in (2,4,6)} #comprehension이 가능한 것들 => list, dict, set, generator

{2: 4, 4: 16, 6: 36}

In [41]:
a = {}
for x in (2,4,6):
    a[x] = x**2
a

{2: 4, 4: 16, 6: 36}

In [42]:
tel= {'jack': 4098, 'sape':4139}
# dick method
tel.items #.items(key: value)
tel.get  # .get(key) = value
tel.keys #key가 set형식으로, 잘 안써요, 성능도 떨어지고
tel.values #.values(value)  = key

In [43]:
knights = {'gallahad':'the pure','robin':'the brave'}
for k,v in knights.items():
    print(k,v)

gallahad the pure
robin the brave

In [44]:
# enumerate = 외부 인덱스를 불러옴, 리스트와 함께 사용
# 0부터 시작하는 인덱싱을 부여
for i,v in enumerate(['tic','tac','toe']): 
    print(i,v)

0 tic
1 tac
2 toe

In [45]:
a = [273, 52, 32, 57, 103]
print(list(enumerate(a)))
for (i, element) in enumerate(a): # tuple은 괄호 지우고 사용해도 무방
    print("{}번째 요소는 {}입니다.".format(i+1, element))

[(0, 273), (1, 52), (2, 32), (3, 57), (4, 103)]
1번째 요소는 273입니다.
2번째 요소는 52입니다.
3번째 요소는 32입니다.
4번째 요소는 57입니다.
5번째 요소는 103입니다.

In [46]:
# zip(arg) = 패킹 => zip(*arg) = 언패킹
# 패킹은 언패킹의 멱멱수 이므로 멱함수 알고리즘이 존재해야함
questions = ['name','quest','favorite color']
answers = ['lancelot','the holy grail','blue']
for q,a in zip(questions, answers):
    print('What is your {0}? It is {1}.'.format(q,a))

What is your name? It is lancelot.
What is your quest? It is the holy grail.
What is your favorite color? It is blue.

In [47]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [48]:
basket = ['apple','orange','apple','pear','orange','banana']
for f in sorted(set(basket)): 
    # sorted는 리스트 타입을 리턴, 어차피 set은 순서가 뒤죽박죽이기에 
    # sort(list(set())) 를 쓰느니 sorted를 사용 =>정렬과 리스트를 한번에
    print(f)

apple
banana
orange
pear

In [49]:
[f for f in sorted(set(basket))]

['apple', 'banana', 'orange', 'pear']

In [50]:
import math

raw_data = [56.2,float('NaN'),51.7,55.3,52.5,float('NaN'),47.8] 
#NaN = not a number, type은 float
filtered_data = []
for value in raw_data:
    if not math.isnan(value): # isnan수학함수는 NaN 값을 체크, 출력하는 메소드
        filtered_data.append(value)
filtered_data

# nan 필요없는 값임에도 불구하고 삭제시키지 않는 이유 
# raw data(원형 데이터)를 손상시킬 경우
# 다음 시행 때 삭제한 것이 영향을 미침 , 원형 데이터 보존이 중요
# 심화
# NaN 포함 값을 연산하거나 데이터 분석을 할 때 none 값을 outlier(이상치)로 규정
# 회귀분석에서는 원 데이터를 따로 분석하고 , outlier에 대해선 잔차 분석을 진행

[56.2, 51.7, 55.3, 52.5, 47.8]

In [51]:
import math

raw_data = [56.2,float('NaN'),51.7,55.3,52.5,float('NaN'),47.8] 
filtered_data = []
for value in raw_data:
    if math.isnan(value): # not isnan의 반대 버전
        filtered_data.append(value)
filtered_data

[nan, nan]

In [52]:
# A and not B or C 결과값
# T         T    T  => T   and     (not T) = F => T and F => F  => F or T = T
#                F F  
#           F      T
# A and (not B) or C  => not 은 가장 높은 연산 순위를 가지므로 괄호를 씌움
# (A and (not B)) or C

In [53]:
string1,string2,string3 = '','Trondheim','Hammer Dance' 
# 공백은 false로 생각, value 값이 있으면 true로 생각
non_null = string1 or string2 or string3 # or 앞에 있는 값의 연산 순위가 더높음
non_null

'Trondheim'

In [54]:
string1,string2,string3 = '','Trondheim','Hammer Dance'
non_null = string1 and not string2 or string3
non_null

'Hammer Dance'

In [56]:
# 문자, 숫자도 모두 값이 비교 가능
# sort 기준으로 보면댐

# !헷갈리는 것  (1,2) < (1,2,-1) : 음수, 양수와 상관없이 값이 많은 것이 큼
# !헷갈리는 것  (1,2,3) < (1,0,2,0,3,0) : 0은 크기에 영향을 주지 않음
# !헷갈리는 것  (1,2,('aa','ab')) < (1,2,('abc','a'),4) : 'aa' 'abc' 에서 b가 더큼
# 마치 isNaN값 처럼 생각