In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("./train.csv")
print(df.sample(5))
df.info()

     PassengerId  Survived  Pclass                          Name     Sex  \
640          641         0       3        Jensen, Mr. Hans Peder    male
722          723         0       2  Gillespie, Mr. William Henry    male
83            84         0       1       Carrau, Mr. Francisco M    male
13            14         0       3   Andersson, Mr. Anders Johan    male
435          436         1       1     Carter, Miss. Lucile Polk  female

      Age  SibSp  Parch  Ticket      Fare    Cabin Embarked
640  20.0      0      0  350050    7.8542      NaN        S
722  34.0      0      0   12233   13.0000      NaN        S
83   28.0      0      0  113059   47.1000      NaN        S
13   39.0      1      5  347082   31.2750      NaN        S
435  14.0      1      2  113760  120.0000  B96 B98        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
df.isna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [ ]:
print(df["Survived"]) # key 값을 통해 특정 columns값 접근
print(df.Survived) # 이런식으로도 열값에 접근 가능
print(df.head(1)) # index==0인 값
print(df.loc[0, "Name"]) # loc[행 인덱스, 열 이름]
print(df.iloc[0, 3]) # iloc[행 번호, 열 번호]

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64
0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64
   PassengerId  Survived  Pclass                     Name   Sex   Age  SibSp  \
0            1         0       3  Braund, Mr. Owen Harris  male  22.0      1

   Parch     Ticket  Fare Cabin Embarked
0      0  A/5 21171  7.25   NaN        S
Braund, Mr. Owen Harris

In [ ]:
sampleDf = df.iloc[0:5, 1:3]
sampleDf = df[["Survived", "Pclass", "Age", "SibSp", "Parch", "Fare"]]
# 분석할 열 추출
print(sampleDf)
print(sampleDf.corr())
print(sampleDf.groupby("Survived").mean())

     Survived  Pclass   Age  SibSp  Parch     Fare
0           0       3  22.0      1      0   7.2500
1           1       1  38.0      1      0  71.2833
2           1       3  26.0      0      0   7.9250
3           1       1  35.0      1      0  53.1000
4           0       3  35.0      0      0   8.0500
..        ...     ...   ...    ...    ...      ...
886         0       2  27.0      0      0  13.0000
887         1       1  19.0      0      0  30.0000
888         0       3   NaN      1      2  23.4500
889         1       1  26.0      0      0  30.0000
890         0       3  32.0      0      0   7.7500

[891 rows x 6 columns]
          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000
            Pclass        Age     SibSp     Parch       Fare
Survived
0         2.531876  30.626179  0.553734  0.329690  22.117887
1         1.950292  28.343690  0.473684  0.464912  48.395408

In [ ]:
mask = (df.Sex == "female")
print(mask) # 그냥 시리즈 출력
print([[mask]]) # 이중 리스트로 감싼 구조

0      False
1       True
2       True
3       True
4      False
       ...
886    False
887     True
888     True
889    False
890    False
Name: Sex, Length: 891, dtype: bool
[[0      False
1       True
2       True
3       True
4      False
       ...
886    False
887     True
888     True
889    False
890    False
Name: Sex, Length: 891, dtype: bool]]

In [ ]:
sampleDf["New"] = 0
sampleDf["Family"] = sampleDf["SibSp"] + sampleDf["Parch"] 
# 가족 수 계산 family 라는 열 생성
print(sampleDf)
sampleDf = sampleDf.drop(labels="New", axis=1) #drop() = new라는 열 삭제, 열기준
print(sampleDf)
sampleDf.drop(columns=["Family"], inplace=True) # family 열 삭제, inplace=true 원본에서 삭제제
print(sampleDf)

     Survived  Pclass   Age  SibSp  Parch     Fare  New  Family
0           0       3  22.0      1      0   7.2500    0       1
1           1       1  38.0      1      0  71.2833    0       1
2           1       3  26.0      0      0   7.9250    0       0
3           1       1  35.0      1      0  53.1000    0       1
4           0       3  35.0      0      0   8.0500    0       0
..        ...     ...   ...    ...    ...      ...  ...     ...
886         0       2  27.0      0      0  13.0000    0       0
887         1       1  19.0      0      0  30.0000    0       0
888         0       3   NaN      1      2  23.4500    0       3
889         1       1  26.0      0      0  30.0000    0       0
890         0       3  32.0      0      0   7.7500    0       0

[891 rows x 8 columns]
     Survived  Pclass   Age  SibSp  Parch     Fare  Family
0           0       3  22.0      1      0   7.2500       1
1           1       1  38.0      1      0  71.2833       1
2           1       3  26.0      0      0   7.9250       0
3           1       1  35.0      1      0  53.1000       1
4           0       3  35.0      0      0   8.0500       0
..        ...     ...   ...    ...    ...      ...     ...
886         0       2  27.0      0      0  13.0000       0
887         1       1  19.0      0      0  30.0000       0
888         0       3   NaN      1      2  23.4500       3
889         1       1  26.0      0      0  30.0000       0
890         0       3  32.0      0      0   7.7500       0

[891 rows x 7 columns]
     Survived  Pclass   Age  SibSp  Parch     Fare
0           0       3  22.0      1      0   7.2500
1           1       1  38.0      1      0  71.2833
2           1       3  26.0      0      0   7.9250
3           1       1  35.0      1      0  53.1000
4           0       3  35.0      0      0   8.0500
..        ...     ...   ...    ...    ...      ...
886         0       2  27.0      0      0  13.0000
887         1       1  19.0      0      0  30.0000
888         0       3   NaN      1      2  23.4500
889         1       1  26.0      0      0  30.0000
890         0       3  32.0      0      0   7.7500

[891 rows x 6 columns]

C:\Users\user0812\AppData\Local\Temp\ipykernel_7856\2546480174.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sampleDf["New"] = 0
C:\Users\user0812\AppData\Local\Temp\ipykernel_7856\2546480174.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sampleDf["Family"] \

In [ ]:
np.random.seed(0)
size = len(sampleDf) #sampleDf의 행 수
print(size) # count of rows
data = np.random.rand(size) # psudo data created. 행 수의 길이만큼 표준정규분포를 따르는 난수 생성
print(data)

891
[5.48813504e-01 7.15189366e-01 6.02763376e-01 5.44883183e-01
 4.23654799e-01 6.45894113e-01 4.37587211e-01 8.91773001e-01
 9.63662761e-01 3.83441519e-01 7.91725038e-01 5.28894920e-01
 5.68044561e-01 9.25596638e-01 7.10360582e-02 8.71292997e-02
 2.02183974e-02 8.32619846e-01 7.78156751e-01 8.70012148e-01
 9.78618342e-01 7.99158564e-01 4.61479362e-01 7.80529176e-01
 1.18274426e-01 6.39921021e-01 1.43353287e-01 9.44668917e-01
 5.21848322e-01 4.14661940e-01 2.64555612e-01 7.74233689e-01
 4.56150332e-01 5.68433949e-01 1.87898004e-02 6.17635497e-01
 6.12095723e-01 6.16933997e-01 9.43748079e-01 6.81820299e-01
 3.59507901e-01 4.37031954e-01 6.97631196e-01 6.02254716e-02
 6.66766715e-01 6.70637870e-01 2.10382561e-01 1.28926298e-01
 3.15428351e-01 3.63710771e-01 5.70196770e-01 4.38601513e-01
 9.88373838e-01 1.02044811e-01 2.08876756e-01 1.61309518e-01
 6.53108325e-01 2.53291603e-01 4.66310773e-01 2.44425592e-01
 1.58969584e-01 1.10375141e-01 6.56329589e-01 1.38182951e-01
 1.96582362e-01 3.68725171e-01 8.20993230e-01 9.71012758e-02
 8.37944907e-01 9.60984079e-02 9.76459465e-01 4.68651202e-01
 9.76761088e-01 6.04845520e-01 7.39263579e-01 3.91877923e-02
 2.82806963e-01 1.20196561e-01 2.96140198e-01 1.18727719e-01
 3.17983179e-01 4.14262995e-01 6.41474963e-02 6.92472119e-01
 5.66601454e-01 2.65389491e-01 5.23248053e-01 9.39405108e-02
 5.75946496e-01 9.29296198e-01 3.18568952e-01 6.67410380e-01
 1.31797862e-01 7.16327204e-01 2.89406093e-01 1.83191362e-01
 5.86512935e-01 2.01075462e-02 8.28940029e-01 4.69547619e-03
 6.77816537e-01 2.70007973e-01 7.35194022e-01 9.62188545e-01
 2.48753144e-01 5.76157334e-01 5.92041931e-01 5.72251906e-01
 2.23081633e-01 9.52749012e-01 4.47125379e-01 8.46408672e-01
 6.99479275e-01 2.97436951e-01 8.13797820e-01 3.96505741e-01
 8.81103197e-01 5.81272873e-01 8.81735362e-01 6.92531590e-01
 7.25254280e-01 5.01324382e-01 9.56083635e-01 6.43990199e-01
 4.23855049e-01 6.06393214e-01 1.91931983e-02 3.01574817e-01
 6.60173537e-01 2.90077607e-01 6.18015429e-01 4.28768701e-01
 1.35474064e-01 2.98282326e-01 5.69964911e-01 5.90872761e-01
 5.74325249e-01 6.53200820e-01 6.52103270e-01 4.31418435e-01
 8.96546596e-01 3.67561870e-01 4.35864925e-01 8.91923355e-01
 8.06193989e-01 7.03888584e-01 1.00226887e-01 9.19482614e-01
 7.14241300e-01 9.98847007e-01 1.49448305e-01 8.68126057e-01
 1.62492935e-01 6.15559564e-01 1.23819983e-01 8.48008229e-01
 8.07318959e-01 5.69100739e-01 4.07183297e-01 6.91669955e-02
 6.97428773e-01 4.53542683e-01 7.22055599e-01 8.66382326e-01
 9.75521505e-01 8.55803342e-01 1.17140842e-02 3.59978064e-01
 7.29990562e-01 1.71629677e-01 5.21036606e-01 5.43379883e-02
 1.99996525e-01 1.85217945e-02 7.93697703e-01 2.23924688e-01
 3.45351681e-01 9.28081293e-01 7.04414402e-01 3.18389295e-02
 1.64694156e-01 6.21478401e-01 5.77228589e-01 2.37892821e-01
 9.34213998e-01 6.13965956e-01 5.35632803e-01 5.89909976e-01
 7.30122030e-01 3.11944995e-01 3.98221062e-01 2.09843749e-01
 1.86193006e-01 9.44372390e-01 7.39550795e-01 4.90458809e-01
 2.27414628e-01 2.54356482e-01 5.80291603e-02 4.34416626e-01
 3.11795882e-01 6.96343489e-01 3.77751839e-01 1.79603678e-01
 2.46787284e-02 6.72496315e-02 6.79392773e-01 4.53696845e-01
 5.36579211e-01 8.96671293e-01 9.90338947e-01 2.16896984e-01
 6.63078203e-01 2.63322377e-01 2.06509995e-02 7.58378654e-01
 3.20017151e-01 3.83463894e-01 5.88317114e-01 8.31048455e-01
 6.28981844e-01 8.72650655e-01 2.73542035e-01 7.98046834e-01
 1.85635944e-01 9.52791657e-01 6.87488276e-01 2.15507677e-01
 9.47370590e-01 7.30855807e-01 2.53941643e-01 2.13311977e-01
 5.18200714e-01 2.56627181e-02 2.07470075e-01 4.24685469e-01
 3.74169980e-01 4.63575424e-01 2.77628706e-01 5.86784346e-01
 8.63855606e-01 1.17531856e-01 5.17379107e-01 1.32068106e-01
 7.16859681e-01 3.96059703e-01 5.65421312e-01 1.83279836e-01
 1.44847759e-01 4.88056281e-01 3.55612738e-01 9.40431945e-01
 7.65325254e-01 7.48663620e-01 9.03719740e-01 8.34224354e-02
 5.52192470e-01 5.84476069e-01 9.61936379e-01 2.92147527e-01
 2.40828780e-01 1.00293942e-01 1.64296296e-02 9.29529317e-01
 6.69916547e-01 7.85152912e-01 2.81730106e-01 5.86410166e-01
 6.39552661e-02 4.85627596e-01 9.77495140e-01 8.76505245e-01
 3.38158952e-01 9.61570155e-01 2.31701626e-01 9.49318822e-01
 9.41377705e-01 7.99202587e-01 6.30447937e-01 8.74287967e-01
 2.93020285e-01 8.48943555e-01 6.17876692e-01 1.32368578e-02
 3.47233518e-01 1.48140861e-01 9.81829390e-01 4.78370307e-01
 4.97391365e-01 6.39472516e-01 3.68584606e-01 1.36900272e-01
 8.22117733e-01 1.89847912e-01 5.11318983e-01 2.24317029e-01
 9.78444845e-02 8.62191517e-01 9.72919489e-01 9.60834658e-01
 9.06555499e-01 7.74047333e-01 3.33145152e-01 8.11013900e-02
 4.07241171e-01 2.32234142e-01 1.32487635e-01 5.34271818e-02
 7.25594364e-01 1.14274586e-02 7.70580749e-01 1.46946645e-01
 7.95220826e-02 8.96030342e-02 6.72047807e-01 2.45367210e-01
 4.20539467e-01 5.57368791e-01 8.60551174e-01 7.27044263e-01
 2.70327905e-01 1.31482799e-01 5.53743204e-02 3.01598634e-01
 2.62118149e-01 4.56140567e-01 6.83281336e-01 6.95625446e-01
 2.83518847e-01 3.79926956e-01 1.81150962e-01 7.88545512e-01
 5.68480764e-02 6.96997242e-01 7.78695396e-01 7.77407562e-01
 2.59422564e-01 3.73813138e-01 5.87599635e-01 2.72821902e-01
 3.70852799e-01 1.97054280e-01 4.59855884e-01 4.46123013e-02
 7.99795885e-01 7.69564470e-02 5.18835149e-01 3.06810100e-01
 5.77542949e-01 9.59433341e-01 6.45570244e-01 3.53624358e-02
 4.30402440e-01 5.10016852e-01 5.36177495e-01 6.81392511e-01
 2.77596098e-01 1.28860565e-01 3.92675677e-01 9.56405723e-01
 1.87130892e-01 9.03983955e-01 5.43805950e-01 4.56911422e-01
 8.82041410e-01 4.58603962e-01 7.24167637e-01 3.99025322e-01
 9.04044393e-01 6.90025020e-01 6.99622054e-01 3.27720402e-01
 7.56778643e-01 6.36061055e-01 2.40020273e-01 1.60538822e-01
 7.96391475e-01 9.59166603e-01 4.58138827e-01 5.90984165e-01
 8.57722644e-01 4.57223453e-01 9.51874477e-01 5.75751162e-01
 8.20767121e-01 9.08843718e-01 8.15523819e-01 1.59414463e-01
 6.28898439e-01 3.98434259e-01 6.27129520e-02 4.24032252e-01
 2.58684067e-01 8.49038308e-01 3.33046265e-02 9.58982722e-01
 3.55368848e-01 3.56706890e-01 1.63285027e-02 1.85232325e-01
 4.01259501e-01 9.29291417e-01 9.96149302e-02 9.45301533e-01
 8.69488531e-01 4.54162397e-01 3.26700882e-01 2.32744129e-01
 6.14464706e-01 3.30745915e-02 1.56060644e-02 4.28795722e-01
 6.80740740e-02 2.51940988e-01 2.21160915e-01 2.53191194e-01
 1.31055231e-01 1.20362229e-02 1.15484297e-01 6.18480260e-01
 9.74256213e-01 9.90345002e-01 4.09054095e-01 1.62954426e-01
 6.38761757e-01 4.90305347e-01 9.89409777e-01 6.53042072e-02
 7.83234438e-01 2.88398497e-01 2.41418620e-01 6.62504572e-01
 2.46063185e-01 6.65859118e-01 5.17308517e-01 4.24088988e-01
 5.54687809e-01 2.87051520e-01 7.06574706e-01 4.14856869e-01
 3.60545560e-01 8.28656915e-01 9.24966912e-01 4.60073109e-02
 2.32626993e-01 3.48519369e-01 8.14966479e-01 9.85491428e-01
 9.68971705e-01 9.04948346e-01 2.96556265e-01 9.92011243e-01
 2.49420041e-01 1.05906155e-01 9.50952611e-01 2.33420255e-01
 6.89768265e-01 5.83563590e-02 7.30709099e-01 8.81720212e-01
 2.72436895e-01 3.79056896e-01 3.74296183e-01 7.48788258e-01
 2.37807243e-01 1.71853099e-01 4.49291649e-01 3.04468407e-01
 8.39189122e-01 2.37741826e-01 5.02389457e-01 9.42583600e-01
 6.33997698e-01 8.67289405e-01 9.40209689e-01 7.50764862e-01
 6.99575060e-01 9.67965567e-01 9.94400790e-01 4.51821683e-01
 7.08697782e-02 2.92794031e-01 1.52354706e-01 4.17486375e-01
 1.31289328e-01 6.04117804e-01 3.82808059e-01 8.95385884e-01
 9.67794672e-01 5.46884902e-01 2.74823570e-01 5.92230419e-01
 8.96761158e-01 4.06733346e-01 5.52078277e-01 2.71652768e-01
 4.55444149e-01 4.01713535e-01 2.48413465e-01 5.05866384e-01
 3.10380826e-01 3.73034864e-01 5.24970442e-01 7.50595023e-01
 3.33507466e-01 9.24158767e-01 8.62318547e-01 4.86902960e-02
 2.53642524e-01 4.46135513e-01 1.04627889e-01 3.48475989e-01
 7.40097526e-01 6.80514481e-01 6.22384429e-01 7.10528403e-01
 2.04923687e-01 3.41698115e-01 6.76242482e-01 8.79234763e-01
 5.43678054e-01 2.82699651e-01 3.02352580e-02 7.10336829e-01
 7.88410351e-03 3.72679070e-01 5.30537215e-01 9.22111462e-01
 8.94945450e-02 4.05942322e-01 2.43131997e-02 3.42610984e-01
 6.22231059e-01 2.79067948e-01 2.09749950e-01 1.15703233e-01
 5.77140244e-01 6.95270006e-01 6.71957141e-01 9.48861021e-01
 2.70321389e-03 6.47196654e-01 6.00392237e-01 5.88739610e-01
 9.62770320e-01 1.68716734e-02 6.96482431e-01 8.13678650e-01
 5.09807197e-01 3.33964870e-01 7.90840163e-01 9.72429256e-02
 4.42035638e-01 5.19952375e-01 6.93956411e-01 9.08857320e-02
 2.27759502e-01 4.10301563e-01 6.23294673e-01 8.86960781e-01
 6.18826168e-01 1.33461471e-01 9.80580133e-01 8.71785735e-01
 5.02720761e-01 9.22347982e-01 5.41380794e-01 9.23306068e-01
 8.29897369e-01 9.68286410e-01 9.19782811e-01 3.60338174e-02
 1.74772004e-01 3.89134677e-01 9.52142697e-01 3.00028919e-01
 1.60467644e-01 8.86304666e-01 4.46394415e-01 9.07875594e-01
 1.60230466e-01 6.61117512e-01 4.40263753e-01 7.64867690e-02
 6.96463145e-01 2.47398756e-01 3.96155226e-02 5.99442982e-02
 6.10785371e-02 9.07732957e-01 7.39883918e-01 8.98062357e-01
 6.72582311e-01 5.28939929e-01 3.04446364e-01 9.97962251e-01
 3.62189059e-01 4.70648949e-01 3.78245175e-01 9.79526929e-01
 1.74658385e-01 3.27988001e-01 6.80348666e-01 6.32076183e-02
 6.07249374e-01 4.77646503e-01 2.83999977e-01 2.38413281e-01
 5.14512743e-01 3.67927581e-01 4.56519891e-01 3.37477382e-01
 9.70493694e-01 1.33439432e-01 9.68039532e-02 3.43391729e-01
 5.91026901e-01 6.59176472e-01 3.97256747e-01 9.99277994e-01
 3.51892996e-01 7.21406668e-01 6.37582695e-01 8.13053863e-01
 9.76225663e-01 8.89793656e-01 7.64561974e-01 6.98248478e-01
 3.35498170e-01 1.47685578e-01 6.26360031e-02 2.41901704e-01
 4.32281481e-01 5.21996274e-01 7.73083554e-01 9.58740923e-01
 1.17320480e-01 1.07004140e-01 5.89694723e-01 7.45398074e-01
 8.48150380e-01 9.35832080e-01 9.83426242e-01 3.99801692e-01
 3.80335184e-01 1.47808677e-01 6.84934439e-01 6.56761958e-01
 8.62062596e-01 9.72579948e-02 4.97776908e-01 5.81081930e-01
 2.41557040e-01 1.69025406e-01 8.59580836e-01 5.85349222e-02
 4.70620904e-01 1.15834001e-01 4.57058761e-01 9.79962326e-01
 4.23706353e-01 8.57124918e-01 1.17315564e-01 2.71252077e-01
 4.03792741e-01 3.99812140e-01 6.71383479e-01 3.44718127e-01
 7.13766868e-01 6.39186899e-01 3.99161145e-01 4.31760128e-01
 6.14527700e-01 7.00421901e-02 8.22406738e-01 6.53421161e-01
 7.26342464e-01 5.36923001e-01 1.10477111e-01 4.05035613e-01
 4.05373583e-01 3.21042990e-01 2.99503249e-02 7.37254243e-01
 1.09784458e-01 6.06308133e-01 7.03217496e-01 6.34786323e-01
 9.59142252e-01 1.03298155e-01 8.67167159e-01 2.91902348e-02
 5.34916855e-01 4.04243618e-01 5.24183860e-01 3.65099877e-01
 1.90566915e-01 1.91228974e-02 5.18149814e-01 8.42776863e-01
 3.73215956e-01 2.22863818e-01 8.05320035e-02 8.53109231e-02
 2.21396446e-01 1.00014061e-01 2.65039698e-01 6.61494621e-02
 6.56048672e-02 8.56276180e-01 1.62120261e-01 5.59682406e-01
 7.73455544e-01 4.56409565e-01 1.53368878e-01 1.99596142e-01
 4.32984206e-01 5.28234089e-01 3.49440292e-01 7.81479600e-01
 7.51021649e-01 9.27211807e-01 2.89525490e-02 8.95691291e-01
 3.92568788e-01 8.78372495e-01 6.90784776e-01 9.87348757e-01
 7.59282452e-01 3.64544626e-01 5.01063173e-01 3.76389155e-01
 3.64911836e-01 2.60904499e-01 4.95970295e-01 6.81739945e-01
 2.77340271e-01 5.24379811e-01 1.17380294e-01 1.59845287e-01
 4.68063547e-02 9.70731443e-01 3.86035151e-03 1.78579968e-01
 6.12866753e-01 8.13695989e-02 8.81896503e-01 7.19620158e-01
 9.66389971e-01 5.07635547e-01 3.00403683e-01 5.49500573e-01
 9.30818717e-01 5.20761437e-01 2.67207032e-01 8.77398789e-01
 3.71918749e-01 1.38335000e-03 2.47685022e-01 3.18233509e-01
 8.58777468e-01 4.58503167e-01 4.44587288e-01 3.36102266e-01
 8.80678123e-01 9.45026777e-01 9.91890329e-01 3.76741267e-01
 9.66147446e-01 7.91879570e-01 6.75689148e-01 2.44889479e-01
 2.16457261e-01 1.66047825e-01 9.22756610e-01 2.94076662e-01
 4.53094245e-01 4.93957834e-01 7.78171595e-01 8.44234962e-01
 1.39072701e-01 4.26904360e-01 8.42854888e-01 8.18033306e-01
 1.02413758e-01 1.56383349e-01 3.04198692e-01 7.53590691e-02
 4.24663003e-01 1.07617705e-01 5.68217594e-01 2.46556940e-01
 5.96433065e-01 1.17525643e-01 9.75883868e-01 9.32561204e-01
 3.91796939e-01 2.42178594e-01 2.50398213e-01 4.83393535e-01
 3.99928019e-02 6.39705106e-01 4.08302908e-01 3.77406573e-01
 8.09364971e-01 7.09035460e-01 9.54333815e-01 3.51936240e-01
 8.97542765e-01 7.69967186e-01 3.57424652e-01 6.21665436e-01
 2.88569958e-01 8.74399917e-01 1.12427317e-01 2.12434361e-01
 1.83033292e-01 4.03026002e-01 7.45232960e-01 5.26907449e-01
 4.87676324e-01 5.45964897e-04 4.25401725e-01 6.35537748e-02
 2.08253252e-01 9.32393939e-01 2.15398204e-01 8.58337639e-01
 8.02893372e-01 1.59146237e-01 6.05711957e-01 1.15661872e-01
 7.27888158e-01 6.37462277e-01 8.11938562e-01 4.79384549e-01
 9.14863088e-01 4.93489468e-02 2.92888565e-01 7.15052597e-01
 4.18109212e-01 1.72951354e-01 1.07210745e-01 8.17339111e-01
 4.73142978e-01 8.82283672e-01 7.33289134e-01 4.09726206e-01
 3.73511014e-01 5.15638347e-01 8.89059953e-01 7.37278580e-01
 5.15296427e-03 6.94157851e-01 9.19507407e-01 7.10455760e-01
 1.77005782e-01 4.83518127e-01 1.40316018e-01 3.58995278e-01
 9.37117042e-01 9.23305308e-01 2.82836852e-01 3.39631044e-01
 6.00212868e-01 9.63197295e-01 1.47801334e-01 2.56916644e-01
 8.73556827e-01 4.91892232e-01 8.98961092e-01 1.85517898e-01
 5.32668587e-01 3.26269633e-01 3.16542560e-01 4.46876964e-01
 4.33077449e-01 3.57346880e-01 9.14970770e-01 7.31744185e-01
 7.27546991e-01 2.89913450e-01 5.77709424e-01 7.79179433e-01
 7.95590369e-01 3.44530461e-01 7.70872757e-01 7.35893897e-01
 1.41506486e-01 8.65945469e-01 4.41321470e-01]

In [ ]:
standard = pd.Series(data, name="standard") # standard 열과 비교 분석
print(standard)
print(pd.concat(objs=[sampleDf, standard], axis=1)) #

0      0.548814
1      0.715189
2      0.602763
3      0.544883
4      0.423655
         ...
886    0.770873
887    0.735894
888    0.141506
889    0.865945
890    0.441321
Name: standard, Length: 891, dtype: float64
     Survived  Pclass   Age  SibSp  Parch     Fare  standard
0           0       3  22.0      1      0   7.2500  0.548814
1           1       1  38.0      1      0  71.2833  0.715189
2           1       3  26.0      0      0   7.9250  0.602763
3           1       1  35.0      1      0  53.1000  0.544883
4           0       3  35.0      0      0   8.0500  0.423655
..        ...     ...   ...    ...    ...      ...       ...
886         0       2  27.0      0      0  13.0000  0.770873
887         1       1  19.0      0      0  30.0000  0.735894
888         0       3   NaN      1      2  23.4500  0.141506
889         1       1  26.0      0      0  30.0000  0.865945
890         0       3  32.0      0      0   7.7500  0.441321

[891 rows x 7 columns]

In [ ]:
data = np.arange(len(sampleDf.columns)).reshape(1, -1) #sampleDf의 열 개수 = 6개
                                                       #reshape을 통해 1행 N열 행태로 바꿈꿈
print(data)
number = pd.DataFrame(data, columns=sampleDf.columns)  #data = 012345 를 열에 넣음
print(number)
rdf = pd.concat([sampleDf, number], axis=0) # sampleDf 아래에 넘버를 행기준으로 붙임
print(rdf)
rdf = rdf.reset_index(drop=True) #중복되는 인덱스를 새 인덱스로 재설정 -> 중복 제거거
print(rdf)

[[0 1 2 3 4 5]]
   Survived  Pclass  Age  SibSp  Parch  Fare
0         0       1    2      3      4     5
     Survived  Pclass   Age  SibSp  Parch     Fare
0           0       3  22.0      1      0   7.2500
1           1       1  38.0      1      0  71.2833
2           1       3  26.0      0      0   7.9250
3           1       1  35.0      1      0  53.1000
4           0       3  35.0      0      0   8.0500
..        ...     ...   ...    ...    ...      ...
887         1       1  19.0      0      0  30.0000
888         0       3   NaN      1      2  23.4500
889         1       1  26.0      0      0  30.0000
890         0       3  32.0      0      0   7.7500
0           0       1   2.0      3      4   5.0000

[892 rows x 6 columns]
     Survived  Pclass   Age  SibSp  Parch     Fare
0           0       3  22.0      1      0   7.2500
1           1       1  38.0      1      0  71.2833
2           1       3  26.0      0      0   7.9250
3           1       1  35.0      1      0  53.1000
4           0       3  35.0      0      0   8.0500
..        ...     ...   ...    ...    ...      ...
887         1       1  19.0      0      0  30.0000
888         0       3   NaN      1      2  23.4500
889         1       1  26.0      0      0  30.0000
890         0       3  32.0      0      0   7.7500
891         0       1   2.0      3      4   5.0000

[892 rows x 6 columns]

In [ ]:
df.rename({"Age" : "나이"}, axis=1) # age 컬럼 명을 나이로 변환, 원본 반영x , inplace=True 없음
age_mean = sampleDf.Age.mean() # age의 평균값을 age_mean 변수로 저장
print(age_mean)
sampleDf["Age"] = sampleDf["Age"].fillna(value=age_mean) # fillna를 통해 NaN 값을 age_mean으로 채움
print(sampleDf[888:]) #888번 인덱스부터 출력

29.69911764705882
     Survived  Pclass        Age  SibSp  Parch   Fare
888         0       3  29.699118      1      2  23.45
889         1       1  26.000000      0      0  30.00
890         0       3  32.000000      0      0   7.75

In [ ]:
def f(x) : 
    return len(str(x))
print(df.applymap(f)) # applymap은 dataframe의 모든 원소에 함수 f 적용
print(f(df))

     PassengerId  Survived  Pclass  Name  Sex  Age  SibSp  Parch  Ticket  \
0              1         1       1    23    4    4      1      1       9
1              1         1       1    51    6    4      1      1       8
2              1         1       1    22    6    4      1      1      16
3              1         1       1    44    6    4      1      1       6
4              1         1       1    24    4    4      1      1       6
..           ...       ...     ...   ...  ...  ...    ...    ...     ...
886            3         1       1    21    4    4      1      1       6
887            3         1       1    28    6    4      1      1       6
888            3         1       1    40    6    3      1      1      10
889            3         1       1    21    4    4      1      1       6
890            3         1       1    19    4    4      1      1       6

     Fare  Cabin  Embarked
0       4      3         1
1       7      3         1
2       5      3         1
3       4      4         1
4       4      3         1
..    ...    ...       ...
886     4      3         1
887     4      3         1
888     5      3         1
889     4      4         1
890     4      3         1

[891 rows x 12 columns]
2090

C:\Users\user0812\AppData\Local\Temp\ipykernel_7856\93021150.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df.applymap(f))

In [ ]:
print("########## map() test ###########") #map은 series의 전용으로 쓰임
print(df.Sex)
print(df.Sex.map(lambda x : 0 if x == "female" else 1))
# 여자는 0, 남자는 1값으로 리턴 하는 map을 사용 => lambda를 사용해 모든 값에 함 수적용용
print(df.Sex.map({"female":10, "male" : 20})) 
# map은 딕셔너리를 통해 지정된 값(key)에 대한 value를 반환

########## map() test ###########
0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object
0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64
0      20
1      10
2      10
3      10
4      20
       ..
886    20
887    10
888    10
889    20
890    20
Name: Sex, Length: 891, dtype: int64

In [ ]:
def f2(x, n) :  
    return x ** n
print(df[["Age", "SibSp", "Fare"]].apply(f2, args=[2]))
# 세 숫자형 열에 apply를 적용해 , 모든 값에 f2 함수 적용 = 제곱
# args=[2]: n=2를 넘겨 f2 함수를 호출
df.to_csv("./titanic.csv")
df.to_clipboard() #df를 클립보드에 복사

for dformat in dir(df): #모든 속성과 메서드 리스트
    if dformat.startswith("to_"): # to(저장 또는 변환 관련 함수)를 필터링 
        print(dformat)

        Age  SibSp         Fare
0     484.0      1    52.562500
1    1444.0      1  5081.308859
2     676.0      0    62.805625
3    1225.0      1  2819.610000
4    1225.0      0    64.802500
..      ...    ...          ...
886   729.0      0   169.000000
887   361.0      0   900.000000
888     NaN      1   549.902500
889   676.0      0   900.000000
890  1024.0      0    60.062500

[891 rows x 3 columns]
to_clipboard
to_csv
to_dict
to_excel
to_feather
to_gbq
to_hdf
to_html
to_json
to_latex
to_markdown
to_numpy
to_orc
to_parquet
to_period
to_pickle
to_records
to_sql
to_stata
to_string
to_timestamp
to_xarray
to_xml