In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sn

In [3]:
pd.__version__

'2.2.3'

In [4]:
# 스칼라 = 0차원
# 스칼라의 집합 = series(1차원)
# 시리즈의 집합 = DataFrame(2차원)
# 시리즈는 라벨이 붙었음
# 시리즈 안에는 한가지의 자료형으로 통일되어야 한다(숫자는 숫자끼리, 문자는 문자끼리)

In [5]:
data = [1,2,3,4]
index = ["A","B","C","D"]
series1 = pd.Series(data=data, index=index) 
series1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
data = {"col1":[1,2,3,4], "col2":["a","b","c","d"]}
index = ["A","B","C","D"]
df1 = pd.DataFrame(data=data, index=index) #pd.DataFrame(data내용 + col, index)
df1

   col1 col2
A     1    a
B     2    b
C     3    c
D     4    d

In [7]:
data = [[1,"a"],
        [2,"b"],
        [3,"c"],
        [4,"d"]]
columns = ["col1", "col2"]
df2 = pd.DataFrame(data=data, columns=columns) #index 생략 시 자동 생성
print(df2)
df3 = pd.DataFrame(data, columns=columns, index=index)
print(df3)

   col1 col2
0     1    a
1     2    b
2     3    c
3     4    d
   col1 col2
A     1    a
B     2    b
C     3    c
D     4    d